# Project Information
site_name: b1b1's share
site_description: Kernel, Blockchain, CTF Crypto&PWN
site_author: b1b1
site_url: https://beafb1b1.github.io/

# Configuration
theme:
  name: 'material'
  palette:
    primary: 'indigo'
    accent: 'indigo'
  feature:
    tabs: true

# Repository
repo_name: 'beafb1b1/beafb1b1.github.io'
repo_url: 'https://github.com/beafb1b1/beafb1b1.github.io/'
edit_uri: 'blob/dev/docs/'

# Copyright
copyright: 'Copyright &copy; b1b1@r3kapig'

# Extensions
markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  - footnotes
  - meta
  - def_list
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Contents
nav:
    - home: index.md
    - kernel:
        - linux内核基础: kernel/linux_kernel_base.md
    - blockchain:
        - RWCTF2019 bank: blockchain/realworldctf_2019_bank.md
        - N1CTF2019 h4ck Smart Contract: blockchain/n1ctf_2019_smartcontract.md
        - HCTF2018 ez2win: blockchain/hctf_2018_ez2win.md
        - BCTF2018 Fake3d&EOSGAME: blockchain/bctf2018_fake3d_eosgame.md
        - email bot: blockchain/email_bot.md
    - backup:
        - RWCTF2018 station-escape: backup/realworldctf_2018_stationescape.md
        - gitpage采坑: backup/gitpage_fuck.md